$device-sm: 576;
$device-md: 768;
$device-lg: 992;
$device-xl: 1200;
$cols-quantity: 12;

$map-grid-props: (
        '-xs': 0,
        '-sm': $device-sm,
        '-md': $device-md,
        '-lg': $device-lg,
        '-xl': $device-xl
);

@mixin create-mq($breakpoint, $min-or-max) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint, 'min') {
    & .column-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      & .column-#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
      }
      & .column-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}

@each $modifier , $breakpoint in $map-grid-props {
  @include create-mq($breakpoint - 1, 'max') {
    .hidden-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, 'min') {
    .hidden-up {
      display: none !important;
    }
  }
}

.container {
  max-width: $device-md * 1px;
  margin: 0 auto;
  &.is-fluid {
    margin: 0;
    max-width: 100%;
  }
  & .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .column {
      flex: 1;
    }
  }

  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $cols-quantity, $breakpoint);
  }
}
